@charset "UTF-8";

*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: black url('imagens/fundo.jpg') center center no-repeat fixed;
    background-size: cover;
}

header{
    background-color:#632900;
    color: #D48821;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.445);
}

header h1{
    font-size: 3em;
    color:#FAA72B;
    font-variant: small-caps;
    text-align: center;
    padding: 20px;
}

header p{
    font-size: 1.3em;
    text-align: center;
    padding: 10px;
}


main{
    width: 950px;
    height: 100vh;
    background-color: #FFD6A2;
    padding: 40px;
    margin: auto;
}

section{
    background-color:   #632900;
    padding-top: 30px;
}

section img{
    width: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 7px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.644);
}

section img:hover{
    border: 3px solid white;
}

footer{
    color: white;
    background-color:#89490A;
    padding: 15px;
}

footer p{
    text-align: center;
    color: white;
    text-decoration: none;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: underline;
    transition: 0.1s;
}