@charset "UTF-8";

*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: black url('imagens/fundo.jpg') center center no-repeat fixed;
    background-size: cover;
}

header{
    background-color:#632900;
    color: #D48821;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.445);
}

header h1{
    font-size: 3em;
    color:#FAA72B;
    font-variant: small-caps;
    text-align: center;
    padding: 20px;
}

header p{
    font-size: 1.3em;
    text-align: center;
    padding: 10px;
}


main{
    width: 950px;
    height: 100vh;
    background-color: #FFD6A2;
    padding: 40px;
    margin: auto;
}

section#social{
    background-color:   #632900;
    padding-top: 30px;
}

section#social img{
    width: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 7px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.644);
}

section#social img:hover{
    border: 3px solid white;
}

section.hamburguer{
    width: 100%;
    height: 500px;
    background: url('imagens/img-hamburguer.webp') no-repeat;
    background-size: contain;
    background-position: top right;
    background-attachment: fixed;
}

section.hamburguer h1, section.hamburguer ul{
    display: block;
    font-weight: bolder;
    background-color: rgba(136, 136, 136, 0.562);
    color: #FAA72B;
}

section.hamburguer h1{
    text-align: center;
    font-size: 2em;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.774);

}

section.esquerda{
    text-align: left;

}

section.direita{
    text-align: right;
}

ul.cardapio li{
    padding-top: 45px;
    padding-bottom: 8px;
    font-size: 1.3em;
    color: black;
}

footer{
    color: white;
    background-color:#89490A;
    padding: 15px;
}

footer p{
    text-align: center;
    color: white;
    text-decoration: none;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: underline;
    transition: 0.1s;
}